:root {
    /* body palette  */
    --tobo-lighter: white;
    --tobo-light: #f6f8f9;
    --tobo-dark: #47adf1;
    /* label palette  */
    --tobo-label1: #45abe9;
    --tobo-label2: #9c72e4;
    --tobo-label3: #64c0a9;
    --tobo-label4: #f29e33;
    --tobo-label5: #d863a0;
    --tobo-label6: #b0c926;
    --tobo-cross: #f29f9c;
    --tobo-checkmark: #6ac3ad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

body{
    background-color: var(--tobo-light);
}

#site_header{
    padding: 1rem;
    background-color: var(--tobo-lighter);
    margin-bottom: 4rem;
}

h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
}

#site_main{
    background-color: var(--tobo-lighter);
    width: 60%;
    margin: auto;
    border: 1px solid var(--tobo-lighter);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu{
    padding: 1rem 5rem;
}

#todo_list{
    border-top: 4px solid var(--tobo-light);
    padding: 3rem 5rem;
}

li{
    margin-top: 10px;
}

.task_list{
    margin-left: 20px;
    margin-bottom: 30px;
}